# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/

# Docker
.dockerignore

# Environment Variables
.env

# Data
dted/
*.dt2
*.hgt
*.tif
*.tiff
*.dem

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
